.header {
  border-bottom: var(--border);
  position: relative;
}

.container {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu,
.links {
  display: flex;
  gap: 0.5rem;
}

.linkButton,
.link {
  cursor: pointer;
  color: var(--primary-60);
  padding: 0.75rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;

  &:hover {
    background: var(--primary-10);
    color: var(--primary-80);
  }

  &:focus {
    color: var(--primary-70);
  }
}

.link.active {
  color: var(--primary-70);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.linkButton {
  background-color: var(--primary-50);
  color: white;

  &:hover {
    background-color: var(--primary-60);
    color: white;
  }

  &:focus {
    background-color: var(--primary-70);
    color: white;
  }
}

.links {
  @media screen and (max-width: 48rem) {
    display: none;
    visibility: hidden;
  }
}

.menu {
  display: none;

  @media screen and (max-width: 48rem) {
    display: block;
  }

  @media screen and (max-width: 29.875rem) {
    span {
      display: none;
    }
  }
}
