.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + 2px));
  background-color: #faf7f2;
  padding: 0.75rem 1.5rem;
  z-index: 1;
  width: 100%;
  border-bottom: var(--border);

  visibility: hidden;
  display: none;

  div {
    padding: 0.25rem 0;

    a {
      margin: 0 -0.75rem;
    }

    &:not(:last-child) {
      border-bottom: var(--border);
    }
  }

  li {
    &:not(:last-child) {
      border-bottom: var(--border);
    }
  }
}

.open {
  visibility: visible;
  display: block;
}
