:root {
  --border: 2px solid #eae5e8;

  --primary-10: #f5d7ce;
  --primary-20: #ebb1a0;
  --primary-30: #e08d76;
  --primary-40: #d66c4f;
  --primary-50: #cc4d2b;
  --primary-60: #b84627;
  --primary-70: #a33e22;
  --primary-80: #8f361e;
  --primary-90: #7a2f1a;

  --title-color: #333333;
  --text-color: #555555;
}
