.highlight {
  color: var(--primary-50);
}

.selectedHeader,
.header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.header {
  justify-content: space-between;
  align-items: center;
}

.box {
  background-color: white;
  padding: 1.5rem;
  border: 1px solid var(--primary-50);
  border-radius: 0.75rem;
  margin-top: 3rem;
}

.button {
  border: 1px solid black;
  color: black;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    color: var(--primary-50);
    border-color: var(--primary-50);
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.logo {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  max-width: 10rem;
  max-height: 10rem;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &:hover {
    border-color: var(--primary-50);
    color: black;
  }
}

.logoImage {
  width: 9rem;
  height: auto;
  max-height: 9rem;
  object-fit: contain;
}
