.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.2rem;
  font-weight: 700;
  color: white;
}

.description {
  margin-bottom: 0rem;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 200;
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary-50);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
}

.icone {
  width: 35px;
  height: 35px;
}