.tile {
  position: relative;
  border-radius: 0.75rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: calc((100% - 3rem) / 3);
  aspect-ratio: 0.8;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(237, 110, 76, 0.15);
  border: 2px solid var(--background-color);
  transition: all 0.3s ease;

  &:hover {
    background: #fff9f5;
    transform: translateY(-0.5rem);
    box-shadow: 0 10px 30px rgba(237, 110, 76, 0.15);
  }

  @media screen and (max-width: 53rem) {
    width: calc((100% - 2rem) / 2);
  }

  @media screen and (max-width: 37.5rem) {
    width: calc(100% - 2rem);
    aspect-ratio: unset;
  }
}

.content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  height: 100%;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.title {
  font-weight: 600;
}

.domaine {
  color: var(--primary-50);
  font-weight: 400;
}

.description {
  font-weight: 200;
}

.image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.domaine {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  background-color: var(--primary-10);
  color: var(--primary-90);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  max-width: calc(100% - 2rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
