.metier {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0rem;

  width: calc((100% - 2rem) / 3);
  aspect-ratio: 0.8;
  overflow: hidden;
  text-decoration: none;

  justify-content: space-between;
}

.content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
}

.description {
  font-size: 1rem;
  line-height: 1.2;
}

.image {
  width: 100%;
  aspect-ratio: 16 / 9; /* or 1 / 1, 4 / 3, etc. */
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.domaine {
  background-color: var(--primary-50);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}