.tile {
  border-radius: 0.75rem;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: calc((100% - 3rem) / 3);
  aspect-ratio: 0.8;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(237, 110, 76, 0.15);
  border: 2px solid var(--background-color);
  transition: all 0.3s ease;
  color: var(--text-color);

  &:hover {
    background: var(--card-hover-color);
    transform: translateY(-0.5rem);
    box-shadow: 0 10px 30px rgba(237, 110, 76, 0.15);
  }
}

.content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 10rem;
  overflow: hidden;
  font-size: 1rem;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.title {
  font-weight: 600;
  color: var(--title-color);
}

.domaine {
  color: var(--primary-50);
  font-weight: 400;
}

.description {
  font-weight: 200;
}

.image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
