.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  line-height: 2.75rem;
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 0rem;
  font-size: 1.25rem;
  line-height: 1.4;
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary-50);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
}

.icone {
  width: 2.25rem;
  height: 2.25rem;
}