.link {
  height: 100%;
  position: relative;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  gap: 0rem;
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(237, 110, 76, 0.15);
  border: 2px solid var(--background-color);
  color: var(--text-color);
  align-items: center;
}

.mainContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.tile {
  width: calc((100% - 2rem) / 2);
  aspect-ratio: 0.8;
  overflow: hidden;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  color: var(--text-color);
  box-shadow: 0 10px 20px rgba(237, 110, 76, 0.2);

  &:hover {
    transform: translateY(-0.5rem);
  }

  @media screen and (max-width: 37.5rem) {
    width: calc(100% - 2rem);
    aspect-ratio: unset;
  }
}

.content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  height: fit-content;
  font-weight: 800;
}

.title {
  font-weight: 600;
  color: var(--title-color);
  font-size: 1.1rem;
  line-height: 1.2;
}

.domaine {
  color: var(--primary-50);
  font-weight: 400;
}

.description {
  font-weight: 300;
  display: -webkit-box;
  line-clamp: 8;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 1rem;
  line-height: 1.2;

  @media screen and (max-width: 53rem) {
    line-clamp: 6;
    -webkit-line-clamp: 6;
  }

  @media screen and (max-width: 37.5rem) {
    line-clamp: 5;
    -webkit-line-clamp: 5;
  }
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.domaine {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  background-color: var(--primary-10);
  color: var(--primary-90);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  max-width: calc(100% - 2rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkIconContainer {
  position: absolute;
  padding: 0.25rem;
  bottom: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;

  @media screen and (max-width: 53rem) {
    display: none;
  }
}

.linkIconText {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-50);
}

.linkIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--primary-50);
}
