.filieres {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.filiere {
  border-radius: 0.5rem;
  position: relative;
  width: calc((100% - 2rem) / 3);
  aspect-ratio: 0.64;
  overflow: hidden;
  text-decoration: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 53rem) {
    width: calc((100% - 2rem) / 2);
  }

  @media screen and (max-width: 37.5rem) {
    width: calc(100% - 2rem);
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
}

.content {
  position: absolute;
  bottom: 0;
  height: 7rem;
  z-index: 1;
  padding: 2rem;
  color: white;
}

.badge {
  background-color: var(--primary-50);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}
