.filieres {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  font-family: var(--font-josefin-slab);
  line-height: 1.2;
}

.searchContainer {
  margin-top: 1rem;
}
