.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.linkTile,
.tile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 2px solid var(--card-border-color);
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  background: var(--card-color);
  transition: all 0.3s ease;
  width: calc((100% - 6rem) / 3);

  @media screen and (max-width: 53rem) {
    width: 100%;
  }

  &:hover {
    color: #333;
    border-color: var(--primary-50);
    background: var(--card-hover-color);
    transform: translateY(-0.5rem);
    box-shadow: 0 10px 30px rgba(237, 110, 76, 0.15);
  }
}

.linkTile {
  border-color: var(--primary-20);
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-50);
  color: white;
  border-radius: 10rem;
  padding: 0.5rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.nom {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
}

.unavailableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;

  @media screen and (max-width: 53rem) {
    flex-direction: column;
  }
}

.unavailableText {
  color: var(--text-color);
  max-width: calc((100% - 3rem) / 1.5);
}

.unavailableIcon {
  width: 2rem;
  height: 2rem;
}

.unavailableVerticalSeparator {
  width: 1px;
  height: 2.5rem;
  background-color: var(--text-color);

  @media screen and (max-width: 53rem) {
    display: none;
  }
}
