.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 2px solid var(--card-border-color);
  padding: 0.7rem 1rem;
  text-decoration: none;
  background: var(--card-color);
  transition: all 0.3s ease;
  width: calc((100% - 10rem) / 3);

  &:hover {
    color: #333;
    border-color: var(--primary-50);
    background: var(--card-hover-color);
    transform: translateY(-0.5rem);
    box-shadow: 0 10px 30px rgba(237, 110, 76, 0.15);
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-50);
  color: white;
  border-radius: 99rem;
  padding: 0.5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.nom {
  font-size: 0.75rem;
  font-weight: 400;
}
