.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;

  @media screen and (max-width: 53rem) {
    flex-direction: column;
  }
}

.text {
  color: var(--text-color);
  max-width: calc((100% - 3rem) / 1.5);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.verticalSeparator {
  width: 1px;
  height: 2.5rem;
  background-color: var(--text-color);

  @media screen and (max-width: 53rem) {
    display: none;
  }
}
