.banner {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 53rem) {
    flex-direction: column;
  }
}

.text {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.video {
  width: auto;
  max-height: 45rem;
  border-radius: 1rem;
}
