.tiles {
  display: flex;
  gap: 2rem;

  @media screen and (max-width: 53rem) {
    flex-direction: column;
  }
}

.title {
  margin-bottom: 1rem;
  color: var(--title-color);
  font-size: 1.75rem;
}

.tile {
  position: relative;
  flex: 1;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  svg {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.text {
  line-height: 1.6;
  color: #666;
}

.count {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #f0f0f0;
  color: var(--primary-50);
  font-size: 1.25rem;
  font-weight: 600;
}

.number {
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
}
