.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  display: flex;
  font-size: 2.5rem;
  font-family: var(--font-josefin-slab);
  line-height: 1.2;
}

.highlight {
  color: var(--primary-50);
  font: inherit;
}

.bienvenueAemDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.4;
}

.bienvenueAemTileContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.bienvenueAemTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--primary-50);
  background: var(--card-color);
  border-radius: 1rem;
  padding: 2rem 1rem;
  width: calc((100% - 15rem) / 3);

  @media screen and (max-width: 53rem) {
    width: 100%;
  }

  font-weight: 600;
  font-size: 0.9rem;
}

.bienvenueAemTileImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  border-radius: 1rem;
  background: #e6e6e6;
}
