.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 1.4;
}

.title {
  display: flex;
  font-size: 2.5rem;
  font-family: var(--font-josefin-slab);
}

.sectionTitle {
  font-size: 2rem;
  font-family: var(--font-josefin-slab);
  margin-top: 2rem;
}

.highlight {
  color: var(--primary-50);
  font: inherit;
}

.bienvenueAemDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bienvenueAemTileContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.bienvenueAemTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--primary-50);
  background: var(--card-color);
  border-radius: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  width: calc((100% - 15rem) / 3);
  font-weight: 600;
  font-size: 0.8rem;

  @media screen and (max-width: 53rem) {
    width: 100%;
  }
}

.bienvenueAemTileImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  border-radius: 1rem;
  background: #e6e6e6;
}

.pourquoiChoisirRaisonsContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid #e6e6e6;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.pourquoiChoisirRaisonsTile {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-50);
  background: var(--card-color);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.pourquoiChoisirRaisonsTileDescription {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
}
