.strapiRichText {
  p {
    margin-bottom: 1rem;
  }

  em {
    font-style: normal;
    color: var(--primary-60);
  }

  ul {
    list-style: disc;
    padding-left: 1rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
}
