.strapiRichText {
  p {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  ol,
  ul {
    padding-left: 1rem;
    li {
      margin-bottom: 0.5rem;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
}
