.container {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;

  li:not(:last-child)::after {
    content: "|";
    margin-left: 1rem;
  }
}

.footer {
  border-top: var(--border);
}
