.accordion {
  overflow: hidden;
  padding: 0.5rem 0rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-50);
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary-50);
  gap: 0.75rem;
}

.title {
  margin: 0;
  font-size: 1.1rem;
  color: var(--primary-60);
  font-weight: 600;
  text-align: left;
}

.icon {
  transition: transform 0.3s ease;
  color: var(--primary-60);
  flex-shrink: 0;
}

.icon.open {
  transform: rotate(180deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.content.open {
  max-height: 50%;
}
