.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.button {
  background-color: var(--primary-50);
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  width: fit-content;

  svg {
    transition: transform 0.3s ease;
  }

  &:hover {
    box-shadow: 0 10px 30px rgba(237, 110, 76, 0.15);

    background-color: var(--primary-60);
    color: white;

    svg {
      transform: scale(1.1);
    }
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
