.formations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.mapView {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.mapContent {
  display: flex;
  width: 100%;

  @media screen and (max-width: 37.5rem) {
    display: none;
  }
}

.mapSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  height: 50rem;
  overflow: auto;
}

.mapContainer {
  flex: 1;
  position: sticky;
  top: 2rem;
  min-height: 40rem;
}

.mapSidebar .formations {
  margin-top: 0;
  flex-shrink: 1;
  padding: 0rem 1rem;
  max-width: 20rem;
}

.hidden {
  position: absolute;
  left: -9999px;
}

.button {
  width: fit-content;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;

  background-color: var(--primary-50);
  color: white;

  &:hover {
    background-color: var(--primary-60);
    color: white;
  }

  &:focus {
    background-color: var(--primary-70);
    color: white;
  }

  @media screen and (max-width: 37.5rem) {
    display: none;
  }
}

.tooSmall {
  display: none;

  @media screen and (max-width: 37.5rem) {
    display: block;
    margin-bottom: 1rem;
    text-align: center;

    .button {
      display: block;
      margin: 0.5rem auto 0 auto;
    }
  }
}
