.quizContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.quizTitle {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--title-color);
  font-weight: 600;
  line-height: 1.4;
}

.quizOptions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quizOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.25rem 2rem 1.25rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--card-border-color);
  background: var(--card-color);
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
}

.quizOption:has(.hiddenRadio:focus-visible) {
  outline: 3px solid var(--primary-50);
  outline-offset: 2px;
}

.quizOptionContent {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.quizOptionSelected {
  background: var(--primary-10);
  border-color: var(--primary-50);
}

.quizOptionCheckbox {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.5rem;
  border: 2px solid var(--primary-50);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.quizOptionCheckboxSelected {
  background: var(--primary-50);
  border-color: var(--primary-50);
}

.quizOptionText {
  font-size: 1rem;
  font-weight: 400;
}

.quizNext {
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background: var(--primary-50);
  color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-60);
  }

  &:focus {
    background-color: var(--primary-70);
  }
}

.quizNext:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.quizOptionKeyHint {
  font-weight: 600;
  color: var(--primary-50);
  font-size: 1.2rem;
  outline: 2px solid var(--primary-50);
  outline-offset: 0.5rem;
  border-radius: 0.125rem;

  @media screen and (max-width: 29.875rem) {
    display: none;
  }
}

.hiddenRadio {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
