.actionButton {
  background-color: var(--primary-50);
  color: white;
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: var(--primary-60);
    color: white;
  }
  p {
    display: none;
  }

  @media screen and (max-width: 37.5rem) {
    width: fit-content;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
    height: unset;
    font-size: 1.25rem;
    line-height: 1;
    p {
      display: block;
    }
  }
}
