.banner {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.badgeContainer {
  display: flex;
  gap: 1rem;
  font-weight: 400;
  font-size: 0.875rem;
}

.badge {
  background-color: var(--primary-50);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.badgeGhost {
  background-color: var(--primary-10);
  color: var(--primary-50);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.titleAndActionsContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
}

.actionsContainer {
  display: flex;
  gap: 1rem;
}

.actionButton {
  background-color: var(--primary-50);
  color: white;
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}