.sectionBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.tilesContainer {
  display: flex;
  gap: 0.75rem;

  @media screen and (max-width: 53rem) {
    flex-direction: column;
  }
}

.columnBis,
.column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1;
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0.4rem;
  border-radius: 1rem;
  border: 2px solid var(--card-border-color);
  padding: 1rem 1rem 1.5rem 1rem;
  text-decoration: none;
  background: var(--card-color);
  transition: all 0.3s ease;

  &:hover {
    border-color: var(--primary-50);
    background: var(--card-hover-color);
    transform: translateY(-0.3rem);
    box-shadow: 0 10px 30px rgba(237, 110, 76, 0.15);
  }
}

.tileTitle {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

.column {
  .tile:nth-child(2n) {
    background: var(--primary-50);
    color: white;
    .tileTitle {
      color: white;
    }
  }

  .tile:nth-child(2n + 1) {
    border-color: var(--primary-50);
    border-width: 1px;
  }
}

.columnBis {
  @media screen and (min-width: calc(53rem + 1px)) {
    .tile:nth-child(2n + 1) {
      background: var(--primary-50);
      color: white;
      .tileTitle {
        color: white;
      }
    }

    .tile:nth-child(2n) {
      border-color: var(--primary-50);
      border-width: 1px;
    }
  }
  @media screen and (max-width: 53rem) {
    .tile:nth-child(2n) {
      background: var(--primary-50);
      color: white;
      .tileTitle {
        color: white;
      }
    }

    .tile:nth-child(2n + 1) {
      border-color: var(--primary-50);
      border-width: 1px;
    }
  }
}

.highlight {
  color: var(--primary-50);
}
