.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  justify-content: flex-start;
  border-radius: 1rem;
}

.text {
  font-size: 1rem;
  font-weight: 400;
}

.button {
  background-color: var(--primary-50);
  color: white;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  font-weight: 600;
  width: fit-content;

  svg {
    transition: transform 0.3s ease;
  }

  &:hover {
    box-shadow: 0 10px 30px rgba(237, 110, 76, 0.15);

    background-color: var(--primary-60);
    color: white;

    svg {
      transform: translateX(0.5rem);
    }
  }
}

.arrow {
  width: 2rem;
  height: 2rem;
  color: var(--text-color);
  margin-top: 0.4rem;
}
