/* Banner classes */
.metier {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.descriptionBlock {
  display: flex;
  gap: 2rem 3rem;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 53rem) {
    flex-direction: column;
  }
}

.descriptionTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.descriptionTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.descriptionImage {
  width: calc((100% - 2rem) / 2);
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
  }
}