.banner {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.badgeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: 400;
  font-size: 0.875rem;
}

.badge {
  background-color: var(--primary-50);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.badgeGhost {
  background-color: var(--primary-10);
  color: var(--primary-70);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.titleAndActionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
}

.actionsContainer {
  display: flex;
  gap: 1rem;
  position: relative;
  flex-wrap: wrap;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.copiedFeedback {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0) scale(1);
  background: var(--primary-50);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  transition:
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  z-index: 10;
}

.copiedFeedback[aria-hidden="true"] {
  opacity: 0;
  transform: translate(-50%, 10px) scale(0.95);
}
