.sectionBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.tilesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  @media screen and (max-width: 53rem) {
    flex-direction: column;
  }
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc((100% - 6rem) / 2);
  gap: 0.4rem;
  border-radius: 1rem;
  border: 2px solid var(--card-border-color);
  padding: 1rem 1rem 1.5rem 1rem;
  text-decoration: none;
  background: var(--card-color);
  transition: all 0.3s ease;

  &:hover {
    border-color: var(--primary-50);
    background: var(--card-hover-color);
    transform: translateY(-0.3rem);
    box-shadow: 0 10px 30px rgba(237, 110, 76, 0.15);
  }

  @media screen and (max-width: 53rem) {
    width: auto;
  }
}

.alternateTile:nth-child(even) {
  background: var(--primary-50);
  color: white;
  .tileTitle {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    color: white;
  }
}

.alternateTile:nth-child(odd) {
  border-color: var(--primary-50);
  border-width: 1px;
}

.tileTitle {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

.highlight {
  color: var(--primary-50);
}
