.banner {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.badgeContainer {
  display: flex;
  gap: 1rem;
  font-weight: 400;
  font-size: 0.875rem;
}

.badge {
  background-color: var(--primary-50);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.badgeGhost {
  background-color: var(--primary-10);
  color: var(--primary-50);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.titleAndActionsContainer {
  display: flex;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  gap: 1rem;
  color: var(--title-color);
  /* align-items: center; */
}

.title {
  font-size: 2rem;
  font-weight: 600;
  justify-self: flex-end;
}

.iconTitle {
  width: 2rem;
  height: 2rem;
  color: var(--title-color);
  padding-top: 0.65rem;
}

.actionsContainer {
  display: flex;
  gap: 1rem;
}

.actionButton {
  background-color: var(--primary-50);
  color: white;
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}