.container {
  position: relative;
}

.copiedFeedback {
  position: absolute;
  background-color: var(--primary-10);
  color: var(--primary-70);
  top: -2.5rem;
  right: 0rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: max-content;
  opacity: 1;
  transform: translateY(0) scale(1);
  transition:
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  z-index: 10;
}

.copiedFeedback.hide {
  opacity: 0;
  transform: translateY(10px) scale(0.95);
}
