.breadcrumbs {
  margin-top: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link {
  color: var(--text-color);
  text-decoration: none;
}

.current {
  color: #666;
  font-weight: bold;
}
